.App {
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App-header {
  text-align: center;
}

.App-header h1 {
  font-size: 40px;
  margin: 0 0 20px 0;
  font-family: "Merriweather", serif;
}
.App-header h3 {
  font-family: "Ysabeau Office", sans-serif;
}

.App main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .App {
    width: 100%;
  }

  .App-header h1 {
    font-size: 28px;
  }
}

footer {
  border-top: 1px solid;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(90, 89, 89, 0.6);
}
