.App {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App-header {
  text-align: center;
}

.App-header h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.App main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
